body {
    margin: auto;
    padding: auto;
    background-color: rgb(213, 226, 213);
}
.header-container {
    height: 120px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 30;
    line-height: 110px;
    border-bottom: 2px solid rgb(148, 148, 148);
    box-shadow: black;
}
.header-title {
    float: left;
    color: gray;
    font-family: fantasy;
    margin-left: 100px;
}
.header-menu {
    float: right;
    
}
.header-menu a {
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-family: serif;
}
.header-menu li {
    float: left; 
    list-style: none;
    margin: 0 40px;
    cursor: pointer;
    color: rgb(182, 182, 182);
}
.header-menu li:last-child {
    margin-right: 200px;
}
.header-menu li:hover {
    transform: scale(1.2);
    transition: all 0.7s;
    color: black;
    transition: all 0.5s;
    text-decoration: underline black;
}
.header-menu a:hover {
    color: black;
    transition: all 0.5s;
    text-decoration: underline black;
}
.container {
    display: none;
}

/* snsメニュー */
.sns {
    display: flex;
    background-color: rgb(139, 139, 139); 
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: -100px;
    width: 100px;
    height: 100%; 
    transition: all 0.7s;
    cursor: pointer;
    opacity: 0.6;
    z-index: 30;
}
.fa {
    margin-top: 50px;
    margin-left: 30px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    width: 100%;
    justify-content: center;
}
.menu-bar {
    right: 0;
}
.fa-instagram {
    margin-top: 150px;
}
.fa-instagram:hover {
    color: purple;
}
.fa-facebook:hover {
    color:blue;
}
.fa-twitter:hover {
    color: skyblue;
}
.fa-instagram:hover {
    color: purple;
}
.fa-youtube:hover {
    color: red;
}
/* ページ */
.page {
    position: fixed;
    top: 550px;
    right: 60px;
    margin-right: 50px;
}
.page button {
    width: 50px;
    height: 60px;
    font-size: 25px;
    color: black;
    background-color: white;
    border-radius: 50%;
}

@media (min-width:320px) and (max-width: 900px) { 
    .header-container {
        height: 50px;
        width: 100%;
        background: white;
        position: fixed;
        z-index: 30;
        line-height: 50px;
    }
    .header-title {
        float: none;
        text-align: center;
        color: gray;
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        margin-left: 0;
        letter-spacing: 3px;
    }
    .header-menu {
        display: none;
    }
    
    /* ハンバーガーメニュー */
    .container {
        width: 100%;
        height: 0px;
        display: flex;
    }
    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .navbar {
        /* width: 300px; */
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        right: -500px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.8s;
    }
    .change {
        right: 0;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: rgb(189, 189, 189);
        transition: all 0.8s;
    }
    .change .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .change .line-2 {
        opacity: 0;
    }
    .change .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }
    
    .nav-list {
        text-align: center;
        margin-left: -40px;
    }
    .nav-item {
        list-style: none;
        margin:25px;
    }
    .nav-item a {
        color: gray;
    }
    .nav-link {
        text-decoration: none;
        font-size: 22px;
        color: black;
        font-weight: 300px;
        letter-spacing: 1px;
    }
    /* ハンバーガーメニュー */
    #contact {
        display: none;
    }
}
@media (min-width:320px) and (max-width: 900px) {
    .page {
        position: fixed;
        top: 680px;
        right: 10px;
        margin-right: 10px;
    }
    .page button {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

.img-title {
    position: relative;
    top: -350px;
    font-size: 60px;;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    color: white;
}
.main-img img {
    opacity: 0.7;
}
.main-img img:hover {
    opacity: 0.9;
    transition: 0.7s;
}
.explanation {
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    font-family: fantasy;
}


@media (min-width:320px) and (max-width: 900px) {
    .img-title {
        position: relative;
        top: -170px;
        font-size: 25px;;
        text-align: center;
        font-family: fantasy;
        align-items: center;
        color: white;
    }
    .main-img {
        margin: 0;
    }
    .explanation {
        margin: 30px;
        text-align: center;
        line-height: 40px;
        font-size: 17px;
        font-family: fantasy;
    }
    .main-img img {
        height: 300px;
    }
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 200px;
    height: 600px;
}
.intro-title {
    text-align: center;
    font-size: 25px;
}
.intro-title img {
    opacity: 0.4;
}
.intro-detail {
    display: flex;
    justify-content: center;
    position: relative;
    top: -500px;
}
.intro-detail article {
    width: 50%;
    margin: 100px;
    font-family: fantasy;
}
.en {
    line-height: 40px;
    font-size: 20px;
}
.ja {
    line-height: 45px;
    font-size: 15px;
}
.intro-detail nav {
    display: none;
}

@media (min-width:320px) and (max-width: 900px) {
    .intro {
        font-family: fantasy;
        margin-top: 80px;
    }
    .intro-title {
        text-align: center;
        font-size: 15px;
    }
    .intro-title img {
        opacity: 0.4;
        width: 80%;
        margin-top: 300px;
    }
    .intro-detail {
        display: block;
        justify-content: center;
        position: relative;
        top: -650px;
    }
    .intro-detail article {
        width: 80%;
        margin: 50px;
    }
    .en {
        line-height: 30px;
        font-size: 20px;
    }
    .ja {
        line-height: 30px;
        font-size: 15px;
    }
    .intro-detail nav {
        display: none;
    }
}

.total {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 150px;
}
.total-title {
    font-size: 30px;
    font-family: fantasy;
}
.total-detail {
    display: flex;
    justify-content: center;
    font-family: fantasy;
}
.summary {
    border: 1px solid black;
    border-radius: 30px;
    width: 30%;
    margin: 20px;
    padding: 0px 40px;
    font-size: 20px;
    letter-spacing: 3px;
}
.total-recommend {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.total-recommend iframe {
    opacity: 0.5;
}
.total-recommend iframe:hover {
    opacity: 1;
    transition: 0.8s;
}
@media (min-width:320px) and (max-width: 900px) {
    .total {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 550px;
    }
    .total-title {
        font-size: 20px;
    }
    .total-detail {
        display: block;
        /* width: 100%; */
        text-align: center;
    }
    .summary {
        border: 1px solid black;
        border-radius: 30px;
        width: 90%;
        padding: 0px;
        font-size: 20px;
        letter-spacing: 3px;
    }
    .total-recommend {
        display: block;
        width: 100%;
        margin-top: 80px;
    }
    .total-recommend iframe {
        width: 90%;
        height: 160px;
        margin-top: 30px;
    }
}

.sub {
    text-align: center;
    margin-top: 0px;
    font-family: fantasy;
}
.sub-title {
    letter-spacing: 3px;
}
.name {
    width: 30%;
    height: 50px;
    margin-top: 50px;
    font-family: fantasy;
    font-size: 25px;
    border-radius: 10px;
}
.mail {
    width: 30%;
    height: 50px;
    margin: 50px 0 20px 10px;
    font-family: fantasy;
    font-size: 25px;
    border-radius: 10px;
}
.message {
    width: 60%;
    height: 100px;
    margin: 50px 10px 20px 0;
    font-family: fantasy;
    font-size: 25px;
    border-radius: 10px;
}
.btn {
    color: white;
    background: rgb(224, 224, 224);
    width: 65%;
    height: 50px;
    margin-top: 30px;
    font-family: fantasy;
    font-size: 25px;
    box-shadow: rgb(134, 134, 134) 4px 4px;
}
.btn:hover {
    background-color: rgb(172, 172, 172);
    transition: all 0.9s;
    cursor: pointer;
    box-shadow: none;
}

@media (min-width:320px) and (max-width: 900px) {
    .sub {
        text-align: center;
        margin-top: 0px;
        font-family: fantasy;
    }
    .sub-title {
        letter-spacing: 1px;
        font-size: 10px;
    }
    .sub-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .name {
        width: 80%;
        height: 30px;
        margin-top: 50px;
        font-size: 15px;
    }
    .mail {
        width: 80%;
        height: 30px;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 15px;
    }
    .message {
        width: 80%;
        height: 100px;
        margin: 10px 0px;
        font-size: 15px;
    }
    .btn {
        color: white;
        background-color: rgb(172, 172, 172);
        width: 80%;
        height: 30;
        margin-top: 0;
        font-size: 15px;
        box-shadow: rgb(134, 134, 134) 4px 4px;
    }
    .btn:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

footer {
    height: 150px;
    background: rgb(180, 180, 180);
    color: white;
    text-align: center;
    line-height: 150px;
    margin-top: 200px;
}
@media (min-width:320px) and (max-width: 900px) {
    footer {
        height: 100px;
        background: rgb(180, 180, 180);
        color: white;
        text-align: center;
        line-height: 100px;
        margin-top: 100px;
        font-size: 12px;
    }
}

