body {
    margin: auto;
    padding: auto;
}

.header-container {
    height: 150px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 30;
    top: 0px;
    line-height: 150px;
}
.header-title {
    float: left;
    color: rgb(238, 124, 48);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
    letter-spacing: 3px;
}
.header-menu {
    float: right;
    
}
.header-menu a {
    text-decoration: none;
    color: black;
}
.header-menu li {
    float: left; 
    list-style: none;
    margin: 0 15px;
    
}
.header-menu li:last-child {
    margin-right: 100px;
}
.container {
    display: none;
}
/* snsメニュー */
.sns {
    display: flex;
    background-color: white; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: -100px;
    width: 100px;
    height: 100%; 
    transition: all 0.7s;
    cursor: pointer;
} 

.fa {
    margin-top: 100px;
    margin-left: 30px;
    color: black;
    font-size: 40px;
    width: 100%;
    justify-content: center;
}
.menu-bar {
    right: 0;
}
.fa-instagram:hover {
    color: purple;
}
.fa-facebook:hover {
    color:blue;
}
.fa-twitter:hover {
    color: skyblue;
}
.fa-instagram:hover {
    color: purple;
}
@media (min-width:320px) and (max-width: 900px) { 
    .header-container {
        height: 50px;
        width: 100%;
        background: white;
        position: fixed;
        z-index: 30;
        line-height: 50px;
    }
    .header-title {
        float: none;
        text-align: center;
        color: rgb(238, 124, 48);
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        margin-left: 0;
        letter-spacing: 3px;
    }
    .header-menu {
        display: none;
    }
    
    /* ハンバーガーメニュー */
    .container {
        width: 100%;
        height: 0px;
        display: flex;
    }
    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 10px;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .navbar {
        /* width: 300px; */
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        right: -500px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.8s;
    }
    .change {
        right: 0;
    }
    .line {
        width: 100%;
        height: 3px;
        background-color: orange;
        transition: all 0.8s;
    }
    .change .line-1 {
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .change .line-2 {
        opacity: 0;
    }
    .change .line-3 {
        transform: rotateZ(45deg) translate(-8px, -6px);
    }
    
    .nav-list {
        text-align: center;
        margin-left: -40px;
        
    }
    .nav-item {
        list-style: none;
        margin:25px;
    }
    .nav-link {
        text-decoration: none;
        font-size: 22px;
        color: black;
        font-weight: 300px;
        letter-spacing: 1px;
    }
    /* ハンバーガーメニュー */
    #contact {
        display: none;
    }
}
.main-title {
    text-align: center;
    margin-top: 250px;
}
.main-title h1 {
    font-size: 40px;
    letter-spacing: 5px;
}
.main-title article {
    font-size: 20px;
    line-height: 60px;
    margin-top: 80px;
}
.main-title nav {
    display: none;
}
.blog-title {
    position: relative;
    top: 200px;
}
@media (min-width:320px) and (max-width: 900px) {
    .main-title {
        text-align: center;
        margin-top: 100px;
    }
    .main-title h1 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .main-title article {
        display: none;
    }
    .main-title nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 80px 50px 0 50px;
    }
    .blog-img {
        position: relative;
        top: -10px;
        height: 250px;
    }
    .main-img h1 {
        position: relative;
        top: 80px;
        z-index: 5;
        font-size: 15px;
    }
}

.bcn-container {
    margin-top: 200px;
}
.blog {
    text-align: center;
}
@media (min-width:320px) and (max-width: 900px) {
    .bcn-container {
        margin-top: 100px;
    }
    .blog {
        text-align: center;
    }
}
.prepare {
    border: 1px solid black;
    margin: 0 200px;
    padding: 100px 0px;
    font-family: serif;
}
.prepare-title h1 {
    font-size: 30px;
    letter-spacing: 3px;
}
.prepare-title h2 {
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 80px;
}
.prepare-title article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 30px;
}
.prepare-title nav {
    display: none;
}
.prepare-img {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width:320px) and (max-width: 900px) {
    .prepare {
        border: none;
        border-top: 1px solid black;
        width: 80%;
        margin: 0px 40px;
        padding: 30px 0px;
        font-family: serif;
    }
    .prepare-title h1 {
        font-size: 25px;
        letter-spacing: 1px;
    }
    .prepare-title h2 {
        font-size: 20px;
        letter-spacing: 5px;
        margin-bottom: 50px;
    }
    .prepare-title nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 80px 10px 0 10px;
    }
    .prepare-title article {
        display: none;
    }
    .prepare-img {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .prepare-img img {
        width: 40%;
        height: 130px;
    }
}

.prepare-detail h1 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 100px;
}
.prepare-detail h2 {
    font-size: 20px;
    letter-spacing: 5px;
}
.prepare-detail ul {
    list-style: none;
    font-size: 20px;
    line-height: 70px;
    margin-top: 50px;
}
.prepare a {
    font-size: 20px;
}
.prepare a:hover {
    color: black;
}
@media (min-width:320px) and (max-width: 900px) {
    .prepare-detail h1 {
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 100px;
    }
    .prepare-detail h2 {
        font-size: 15px;
        letter-spacing: 5px;
    }
    .prepare-detail ul {
        list-style-type: lower-greek;
        font-size: 15px;
        line-height: 40px;
        margin-top: 50px;
    }
    .prepare a {
        font-size: 12px;
    }
    .prepare a:hover {
        color: black;
    }
}

.university {
    border: 1px solid black;
    margin: 150px 200px;
    padding: 100px 0px;
    font-family: serif;
}
.uni-title h1 {
    font-size: 30px;
    letter-spacing: 5px;
}
.uni-title h2 {
    font-size: 20px;
    letter-spacing: 7px;
}
.uni-title article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 30px 0px;
}
.uni-title nav {
    display: none;
}

@media (min-width:320px) and (max-width: 900px) {
    .university {
        border: none;
        border-top: 1px solid black;
        margin: 50px 40px;
        padding: 30px 0px;
        font-family: serif;
    }
    .uni-title h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .uni-title h2 {
        font-size: 20px;
        letter-spacing: 7px;
    }
    .uni-title nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 80px 10px 0 10px;
    }
    .uni-title article {
        display: none;
    }
    .uni-title img {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
}
.uni-detail article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 30px 0px;
}
.uni-detail nav {
    display: none;
}

@media (min-width:320px) and (max-width: 900px) {
    .uni-detail article {
        display: none;
    }
    .uni-detail nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 50px 10px 0 10px;
    }
}
.class-title h1 {
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 100px;
}
.class-title h2 {
    font-size: 20px;
    letter-spacing: 7px;
}
.class-title article {
    margin-top: -50px;
}
@media (min-width:320px) and (max-width: 900px) {
    .class-title h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .class-title h2 {
        font-size: 20px;
        letter-spacing: 7px;
    }
    .class-title nav {
        display: flex;
        margin-top: -50px;
    }
    .class-title article {
        display: none;
    }
}

.house {
    border: 1px solid black;
    margin: 150px 200px;
    padding: 100px 0px;
    font-family: serif;
}
.house-title h1 {
    font-size: 30px;
    letter-spacing: 5px;
}
.house-title h2 {
    font-size: 20px;
    letter-spacing: 5px;
}
.house-title article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 30px 0px;
}
.house-title nav {
    display: none;
}
@media (min-width:320px) and (max-width: 900px) {
    .house {
        border: none;
        border-top: 1px solid black;
        margin: 50px 40px;
        padding: 30px 0px;
        font-family: serif;
    }   
    .house-title h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .house-title h2 {
        font-size: 20px;
        letter-spacing: 7px;
    }
    .house-title article {
        display: none;
    }
    .house-title nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 50px 10px 0 10px;
    }
    .house-title img {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
}

.house-detail h1 {
    font-size: 30px;
    letter-spacing: 5px;
}
.house-detail h2 { 
    font-size: 20px;
    letter-spacing: 5px;
}
.house-detail article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 30px 0px;
}
.house-detail nav {
    display: none;
}
.house-detail img {
    margin-bottom: 50px;
}
.house a {
    font-size: 20px;
}
@media (min-width:320px) and (max-width: 900px) {
    .house-detail h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .house-detail h2 { 
        font-size: 20px;
        letter-spacing: 7px;
    }
    .house-detail nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 50px 10px 0 10px;
    }
    .house-detail article {
        display: none;
    }
    .house-detail img {
        width: 100%;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .house a {
        font-size: 15px;
    }
}
.play {
    border: 1px solid black;
    margin: 150px 200px;
    margin-bottom: 100px;
    padding: 100px 0px;
    font-family: serif;
}
.play-title h1 {
    font-size: 30px;
    letter-spacing: 5px;
}
.play-title h2 { 
    font-size: 20px;
    letter-spacing: 5px;
}
.play-title article {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 30px 0px;
}
.play-title nav {
    display: none;
}
.play-title img {
    margin-bottom: 50px;
}
.play a {
    font-size: 20px;
}
@media (min-width:320px) and (max-width: 900px) {
    .play {
        border: none;
        border-top: 1px solid black;
        margin: 50px 40px;
        padding: 30px 0px;
        font-family: serif;
    } 
    .play-title h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .play-title h2 { 
        font-size: 20px;
        letter-spacing: 7px;
    }
    .play-title article {
        display: none;
    }
    .play-title nav {
        display: flex;
        font-size: 15px;
        line-height: 30px;
        margin: 50px 10px 0 10px;
    }
    .play-title img {
        width: 100%;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .play a {
        font-size: 13px;
    }
}
.summary-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 60px;
    margin: 0px 0px;
}
@media (min-width:320px) and (max-width: 900px) {
    .summary {
        margin: 0 40px;
    }
    .summary-title nav {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .summary-title article {
        display: none;
    }

}
footer {
    height: 150px;
    background: black;
    color: white;
    text-align: center;
    line-height: 150px;
    margin-top: 200px;
}
@media (min-width:320px) and (max-width: 900px) {
    footer {
        height: 100px;
        background: black;
        color: white;
        text-align: center;
        line-height: 100px;
        margin-top: 100px;
        font-size: 12px;
    }
}
