;
}
@media (min-width:320px) and (max-width: 900px) {
    .page-intro h1 {
        font-size: 25px;
    }
    .intro {
        width: 85%;
        font-size: 12px;
        line-height: 25px;
        /* background: darkgreen; */
    } 
    .intro article {
        display: none;
    }
    iframe {
        width: 90%;
        height: 200px;
    }
}

.living {
    font-family: fantasy;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}
.destinations {
    display: flex;
    font-size: 20px;
    text-align: center;
}
.destination {
    width: 50%;
    margin-bottom: 50px;
}
.destination img {
    border-radius: 50%;
}
.destination img:hover {
    border-radius: 20px;
    transition: 0.3s;
}
.usa {
    margin-left: 100px;
}
.spain {
    margin-right: 100px;
}
.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    color: gray;
    box-shadow: 4px 4px rgb(100, 100, 100);
    border-radius: 50px;
    font-family: fantasy;
}
.btn:hover {
    background-color: rgb(226, 226, 226);
}
.btn:active {
    box-shadow: none;
}
.sum  {
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    margin: 100px;
}
.sum h2:last-child {
    font-size: 18px;
    font-family: fantasy;
}
@media (min-width:320px) and (max-width: 900px) {
    .living {
        margin-top: 20px;
        padding-top: 20px;
        font-size: 12px;
    }
    .destinations {
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    .destination {
        justify-content: center;
        margin-bottom: 50px;
        width: 100%;
    }
    .destination img {
        width: 80%;
        height: 250px;
        margin-top: 20px;
    }
    .usa {
        margin-left: 0px;
    }
    .spain {
        margin-right: 0px;
    }
    .btn {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .btn:hover {
        transform: none;
        transition: none;
    }
    .sum  {
        font-size: 13px;
        margin: 50px 20px 20px 20px;
    }
    .sum h2:last-child {
        font-size: 10px;
    }
}

footer {
    height: 150px;
    background: rgb(180, 180, 180);
    color: white;
    text-align: center;
    line-height: 150px;
    margin-top: 100px;
}
@media (min-width:320px) and (max-width: 900px) {
    footer {
        height: 100px;
        background: rgb(180, 180, 180);
        color: white;
        text-align: center;
        line-height: 100px;
        margin-top: 100px;
        font-size: 12px;
    }
}

